.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: var(--custom-top, 50%);
  left: var(--custom-left, 50%);
  transform: translate(-50%, -50%);
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  background-color: #fff; /* Adjust background color as needed */
}
