.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  backdrop-filter: blur(5px); /* Ajoute un flou à l'arrière-plan */
  z-index: 998; /* Assure que l'overlay est au-dessus de tout le contenu sauf la modale */
}

.custom-dialog-container {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc; /* Ajoute une bordure de 1 pixel solide avec une couleur grise */
  border-radius: 5px; /* Ajoute un arrondi aux coins de la boîte */
  padding: 20px; /* Ajoute un peu d'espace à l'intérieur de la boîte */
  background-color: #fff; /* Couleur de fond de la boîte */
  z-index: 999; /* Assure que la modale est au-dessus de l'overlay flou */
  width: 400px; /* Vous pouvez ajuster la largeur selon vos besoins */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre portée pour un effet de profondeur */
}

.form-group {
  margin-bottom: 20px; /* Ajoute de l'espace entre les groupes de champs */
}
